body,
h1,
h2,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 100%;
}

body {
  background-color: #ddd;
}

.clearfloat:after {
  content: "";
  display: block;
  clear: both;
}

.cover {
  background-image: url(images/background.png);
  background-size: cover;
  background-position: center;
  color: white;
  height: 50vh;
  width: 100%;
  font-size: 10vw;
  position: relative;
}

.cover h1 {
  background-color: orangered;
  position: absolute;
  left: 50%;
  top: 50%;
  padding: 0 0.5em 0.13em 0.5em;
  transform: translate(-50%, -50%);
  line-height: 1;
}

.wrapper {
  width: 980px;
  margin: 50px auto;
}

.section {
  background-color: white;
  margin: 50px 0;
  padding: 30px;
  color: #999;
  text-align: right;
  position: relative;
}

.section-contents {
  display: inline-block;
}

.section h2 {
  margin-bottom: 20px;
}

.section p {
  float: left;
  width: 250px;
  margin-right: 20px;
  line-height: 1.2;
}

.section p:last-child {
  margin-right: 0;
}

.section-cover {
  position: absolute;
  top: 50%;
  margin: 0 -150px;
  transform: translateY(-50%);
}

.section:nth-child(odd) .section-cover {
  left: 0;
}

.section:nth-child(even) .section-cover {
  right: 0;
}
