/* Cosmetic styles */
* {
  box-sizing: border-box;
}

body {
  background: #222;
  padding: 0px;
  padding-top: 32px;
  margin: 0;
}

.max-width-wrapper {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 16px;
}

.card {
  background-color: white;
  padding: 32px;
  border-radius: 8px;
}

p {
  margin-bottom: 16px;
}
